<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.ciolek.bookweb" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TutorialActivity"
            android:label="Witaj" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" />

        <service android:name=".network.ApiService" />

        <activity
            android:name=".CreateNewCommentActivity"
            android:label="@string/title_activity_create_new_comment"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.ciolek.bookweb.HomeActivity" />
        </activity>
    </application>

</manifest>
